.currency__table,
.table__cell,
.table__title{
    border: 1px solid black;
}

.table__cell,
.table__title{
    padding:10px;
    text-align: center;
}


.table-wrap{
    flex-grow: 10;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
