.currency__table,
.table__cell,
.table__title{
    border: 1px solid black;
}

.table__cell,
.table__title{
    padding:10px;
    text-align: center;
    position: relative;
}


.table-wrap{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.currency__table{
    background: rgb(226, 221, 221);
}

.table__rm-btn{
    width:10px;
    color: black;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}