@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans ExtraLight'), local('DejaVuSans-ExtraLight'), url('../fonts/dejavusansextralight.woff2') format('woff2'), url('../fonts/dejavusansextralight.woff') format('woff'), url('../fonts/dejavusansextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans'), local('DejaVuSans'), url('../fonts/dejavusans.woff2') format('woff2'), url('../fonts/dejavusans.woff') format('woff'), url('../fonts/dejavusans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Oblique'), local('DejaVuSans-Oblique'), url('../fonts/dejavusansoblique.woff2') format('woff2'), url('../fonts/dejavusansoblique.woff') format('woff'), url('../fonts/dejavusansoblique.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Bold'), local('DejaVuSans-Bold'), url('../fonts/dejavusansbold.woff2') format('woff2'), url('../fonts/dejavusansbold.woff') format('woff'), url('../fonts/dejavusansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Bold Oblique'), local('DejaVuSans-BoldOblique'), url('../fonts/dejavusansboldoblique.woff2') format('woff2'), url('../fonts/dejavusansboldoblique.woff') format('woff'), url('../fonts/dejavusansboldoblique.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

.title {
    font-weight: 900;
    font-family: 'DejaVu Sans';
}

.subtitle {
    font-family: 'DejaVu Sans';
    font-weight: 300;
}

.text-content {
    font-family: 'DejaVu Sans';
    font-family: 'Source Sans Pro';
    font-weight: 400;
    color: #9d9d9d;
}

.flex-wrap{
    display:flex;
    flex-direction:column;
}