@media (max-width: 1900px) {
    .content {
        min-width: 1200px;
    }
}

.footer-info {
    background-color: rgb(58, 58, 58);
    color: rgb(136, 136, 136);
    padding: 3.5em 0 1.7em 0;
    padding: 0 0 1.7em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.blog-posts,
.twitter-posts,
.contact-info {
    padding: 0 1.5rem;
    margin-top: 3.5em;
    box-sizing: border-box;
}

.blog-posts,
.twitter-posts {
    flex-basis: 24%;
    min-width: 300px;
}

.contact-info {
    flex-basis: 50%;
    flex-grow:1;
}

.footer-headers {
    color: white;
    font-weight: 900;
    font-size: 1.3em;
    text-transform: uppercase;
    padding-bottom: 1.3em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);
    white-space: nowrap;
}

.footer-copyright {
    text-align: center;
    background-color: #f1c40f;
    color: rgb(255, 254, 247);
    font-weight: 700;
    font-size: 1em;
    padding: 2.2em 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Source Sans Pro';
}

.dev-link {
    text-decoration: none;
    color: rgba(39, 39, 39, 0.829);
}

.blog-avatar {
    width: 4.2em;
    margin-top: 0em;
    height: 4.4em;
    background-color: lightgray;
    float: left;
    margin-right: 1.35em;
    border-radius: 5px;
}

.blog-post {
    border-top: 1px solid rgba(128, 128, 128, 0.151);
    padding: 1.63em 0 1.5em 0;
    color: #9d9d9d;
}

.blog-post::after {
    content: '';
    clear: both;
    width: 100%;
    display: block;
}

.blog-post-date {
    color: rgb(241, 196, 15);
    font-size: 0.75em;
    font-family: 'Source Sans Pro';
}

.blog-user-name {
    border-bottom: 1px solid grey;
    line-height: 1em;
    font-size: 0.8em;
    font-weight: 600;
    box-sizing: border-box;
}

.blog-user-title {
    padding-bottom: 0.5em;
    padding-top: 0.15em;
}

.blog-user-feedback {
    font-size: 0.8em;
    line-height: 1.45em;
    height: 2.9em;
    box-sizing: border-box;
    overflow: hidden;
}

.twitter-avatar {
    height: 1.75em;
    margin-right: 1.4em;
    color: #f1c40f;
}

.twitter-post {
    padding: 1.75em 0 0.45em 0;
    color: #acacac;
}

.twitter-user-name {
    color: rgb(241, 196, 15);
    font-weight: 900;
    font-size: 0.8em;
}

.twitter-user-feedback {
    line-height: 1.5em;
    font-size: 0.8em;
}

.twitter-avatar-wrap {
    float: left;
    height: 3em;
}

.map {
    width: 100%;
    padding-bottom: 37.5%;
    border-radius: 6px;
    background-color: lightgray;
    margin: 1.875em 0;
    background-image: url('../img/map.png');
    background-size: cover;
}

.address-title {
    font-size: 0.8em;
    color: #9d9d9d;
    line-height: 1.5em;
}

.address {
    font-size: 0.8em;
    color: #9d9d9d;
}

.address-link-wrap {
    color: #f1c40f;
}

.address-link {
    color: #f1c40f;
    font-size: 0.8em;
    text-decoration: none;
}

.address-link-wrap {
    margin-top: 1.25em;
}