@media (max-width: 1900px) {
    .page {
        min-width: 1200px;
    }
}

@media (max-width: 1420px) {
    .page {
        min-width: 800px;
    }

    .page__header {
        font-size: 0.9em;
    }

    .nav-list {
        font-size: 1rem;
    }

    .slide {
        font-size: 0.7em;
    }

    .search-form {
        font-size: 0.8em;
    }

    .introduction-content,
    .introduction__header {
        white-space: normal;
    }

    .media-tabs__item:not(.media-tabs__item--active) {
        width: 0;
        flex-grow: 1;
        padding: 0 2em 0em 1em;
    }

    .media-tabs__item p {
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 1em;
        flex-shrink: 10;
    }
}

@media (max-width: 888px) {
    body {
        padding: 0;
    }

    .page {
        border-radius: 0;
    }
}

@media (max-width: 800px) {
    .page {
        width: 100%;
        min-width: 300px;
    }
}

@media (max-width: 888px) {
    body {
        padding: 0;
    }

    .page {
        border-radius: 0;
    }
}

@media (max-width: 660px) {
    .introduction {
        flex-direction: column;
        align-items: center;
    }

    .introduction__header {
        width: 80%;
        white-space: pre-line;
        text-align: center;
        align-items: center;
    }

    .introduction-content {
        width: 80%;
        white-space: pre-line;
    }
}

@media (max-width: 497px) {

    .introduction__header,
    .introduction-content {
        min-width: auto;
        text-align: center;
        width: 100%;
        white-space: normal;
        align-items: center;
        padding: 0;
    }

    .introduction__header {
        font-size: 0.9em;
    }

    .input-wrap {
        width: 80%;
    }

    .media-info {
        padding-left: 0;
        padding-right: 0;
    }

    .slide-control {
        flex-wrap: wrap;
        height: 100%;
    }

    .slide-control__header {
        width: 100%;
        order: 5;
    }

    .slide-control__icon {
        order: 10;
    }

    .media-info__part {
        min-width: 250px;
    }

}

@media (max-width: 500px) {
    .page__title {
        padding: 0;
        margin-left: auto;
        border-bottom: none;
    }

    .page__header {
        display: flex;
        align-items: center;
        height: 10em;
        padding: 0 1em 0;
    }

    .nav {
        flex-direction: column;
        justify-content: stretch;
        margin: 0;
        width: 80%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: rgb(58, 58, 58);
    }

    .page__nav-icon {
        display: block;
        color: rgba(113, 106, 114);
        min-width: 2em;
    }

    .nav__item {
        padding: 1em;
    }

    .nav__link {
        color: #acacac;
        font-weight: 900;
    }
}

@media (max-width: 330px) {
    .page__title {
        font-size: 2em;
    }

}