
.media-info {
    padding: 3.6em 2em 3.8em 2em;
    background: rgb(250, 250, 250);
}

.media-headers {
    border-bottom: 1px solid rgba(202, 202, 202, 0.096);
    font-size: 1em;
    width: 100%;
    display: flex;
    white-space: nowrap;
    height:3.92em;
}

.media-header {
    color: #f1c40f;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 3.2em 0em 2em;
    background-color: #f2f2f2;
    display: inline-block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-right: 5px;
    display:flex;
    align-items: center;
    box-sizing: border-box;
}

.image {
    padding-bottom: 38.2%;
    background-color: rgb(170, 163, 172);
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    z-index: 20;
}

.girl {
    background: url('../img/girl.jpg');
    background-size: 150% auto;
    background-position: 38% 11%;
    max-width: 100%;
}

.girl-2 {
    background: linear-gradient(105deg, #f1f0ecf8 20%, transparent 53%, transparent 100%), url('../img/girl2.jpg');
    background-size: 150% auto;
    background-position: 8% 34%;
    background-repeat: none;
}

.active {
    background-color: white;
    position: relative;
    top: 1px;
    padding: 1.4em 2em 1.3em 2em;
    box-shadow: 1px -1px 2px rgba(201, 201, 201, 0.377);
}

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    padding: 0em 0 1.4em 0;
    box-shadow: 2px 2px 3px 1px rgba(141, 141, 141, 0.137);
}

.info-text {
    line-height: 1.5em;
    margin-top: 1.5em;
}

.half-info {
    width: 50%;
    flex-grow: 1;
    margin: 0 auto;
    margin-top: 2em;
    padding: 0 1.7em;
    min-width: 300px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.half-info:first-of-type::after {
    content: "";
    background-color: rgba(141, 141, 141, 0.3);
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0px;
    left: 100%;
    display: block;
}


.media-header-icon {
    display: inline-block;
    height: 1em;
    color: #8b8181;
    width: auto;
    margin-right: 0.5em;
    position: relative;
    top: 0.1em;
    width: 1rem;
    height: 1rem;
    min-width:1rem;
}
