.slide-show {
    background: rgb(113, 106, 114) url(../img/rope.jfif) no-repeat;
    padding-bottom: 44.5%;
    position: relative;
    background-size: cover;
    background-position: right;
}

.slide-show {
    text-align: center;
    position: relative;
    font-size: 1em;
}

.slide-control {
    padding: 2.39em 2em;
    width: 100%;
    box-sizing: border-box;
    color: rgb(254, 251, 239);
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.slide__title {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.875em;
}

.slide-subtitle {
    display: block;
    font-size: 1rem;
}

.slide-control__icon {
    width: 2em;
    height: auto;
    color: white;
    cursor: pointer;
}