.slide {
    background: rgb(113, 106, 114) url(../img/rope.jfif) no-repeat;
    position: relative;
    background-size: cover;
    background-position: right;
    text-align: center;
    position: relative;
    font-size: 1em;
    height: 30vw;
    overflow: hidden;
}


.slide-control {
    padding: 2.39em 2em;
    width: 100%;
    box-sizing: border-box;
    color: rgb(254, 251, 239);
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

.slide__title {
    display: block;
    text-transform: uppercase;
    font-size: 1.875em;
}

.slide__subtitle {
    display: block;
    font-size: 16px;
}

.slide-control__icon {
    width: 2em;
    height: auto;
    color: rgba(255,255,255,1.0);
    cursor: pointer;
}

.slide-row {
    position: absolute;
    z-index: 500;
    height: 100%;
    width: 100%;
    display: inline-block;
    display: flex;
}

.slide-row__item {
    background: rgb(113, 106, 114) url(../img/rope.jfif) no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
}