body {
    padding: 10% 20% 10% 20%;
    background-image: url(back.png);
    font-family: Calibri, Arial Rounded MT;
}

.content {
    background-color: white;
    border-radius: 5px;
}

.site-title {
    display: inline-block;
    font-size: 30px;
    color: rgb(113, 106, 114);
    border-bottom: 1px solid rgb(113, 106, 114) margin: 0 auto;
    padding: 20px 0px 15px 0px;
    font-weight: 900;
}

.page-nav {
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav {
    overflow: hidden;
}

.page-nav li {
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    color: rgb(113, 106, 114)
}

.page-header {
    text-align: center;
    text-transform: uppercase;
}

.current {
    color: rgba(216, 177, 50, 0.637);
}

.slide-show {
    background: rgb(113, 106, 114) url(rope.jfif) no-repeat;
    height: 500px;
    background-size: center;
}

.slide-show {
    text-align: center;
}

.slide-control {
    position: relative;
    top: 80%;
    padding: 0 5%;
    height: 20%;
    color: rgb(254, 251, 239);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.slide-header {
    width: 90%;
}

.slide-title {
    display: block;
    font-weight: 900;
    font-size: 30px;
}

.slide-subtitle,
.array-right {
    display: block;
    font-size: 20px;
}

.posts {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

.post {
    width: 20%;
    box-sizing: border-box;
}

.post-title {
    line-height: 50px;
    border-bottom: 1px solid;
    color: rgb(113, 106, 114);
    text-transform: uppercase;
    font-weight: 900;
}

.post-content {
    padding-top: 20px;
    color: grey;
    height: 150px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more {
    border: none;
    background-color: rgb(241, 196, 15);
    color: rgb(254, 251, 239);
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
}

.icon {
    height: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(113, 106, 114) margin-top: 50px;
}

.search-posts {
    background-color: rgb(241, 196, 15);
    padding: 50px;
    text-align: center;
    color: rgb(254, 251, 239);
}

.search-inp {
    border: none;
    background-color: rgb(241, 196, 15);
    line-height: 30px;
    width: 300px;
    color: rgb(254, 251, 239);
    padding: 0 20px;
    box-sizing: border-box;
}

.search-inp::placeholder {
    color: rgb(254, 251, 239);
    font-style: italic;
}

.input-wraper {
    border: 2px solid rgb(255, 219, 76);
    display: inline-block;
    background-color: rgb(241, 196, 15);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 20px 0px 30px 0px;
}

.seach-label {
    background-color: rgb(255, 219, 76);
    display: inline-block;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    font-weight: 900;
    padding: 0 20px;
    text-transform: uppercase;
}

.search-title {
    font-size: 30px;
    font-weight: 900;
    display: block;
    text-transform: uppercase;
}

.search-subtitle {
    font-size: 25px;
    font-weight: 100;
    display: block;
    text-transform: uppercase;
    font-family: Calibri;
}

.search-header {
    line-height: 30px;
}

.media-info {
    margin: 40px 20px;
    box-shadow: 2px 2px 2px rgba(141, 141, 141, 0.3);
}

.media-header {
    color: rgb(255, 219, 76);
    text-transform: uppercase;
    font-weight: 900;
    padding: 20px 40px;
    background-color: #f2f2f2;
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.image {
    width: 90%;
    height: 150px;
    background-color: rgb(113, 106, 114);
    border-radius: 5px;
    margin-bottom: 30px;
}

.active {
    background-color: white;
    border-right: 2px solid rgba(182, 182, 182, 0.3);
}

.half-info {
    width: 49%;
    padding: 30px 20px;
    display: inline-block;
    box-sizing: border-box;
}

.article-text {
    width: 90%;
}