@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans ExtraLight'), local('DejaVuSans-ExtraLight'), url('fonts/dejavusansextralight.woff2') format('woff2'), url('fonts/dejavusansextralight.woff') format('woff'), url('fonts/dejavusansextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans'), local('DejaVuSans'), url('fonts/dejavusans.woff2') format('woff2'), url('fonts/dejavusans.woff') format('woff'), url('fonts/dejavusans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Oblique'), local('DejaVuSans-Oblique'), url('fonts/dejavusansoblique.woff2') format('woff2'), url('fonts/dejavusansoblique.woff') format('woff'), url('fonts/dejavusansoblique.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Bold'), local('DejaVuSans-Bold'), url('fonts/dejavusansbold.woff2') format('woff2'), url('fonts/dejavusansbold.woff') format('woff'), url('fonts/dejavusansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: local('DejaVu Sans Bold Oblique'), local('DejaVuSans-BoldOblique'), url('fonts/dejavusansboldoblique.woff2') format('woff2'), url('fonts/dejavusansboldoblique.woff') format('woff'), url('fonts/dejavusansboldoblique.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

body {
    padding: 5.45% 0;
    background-image: url(../img/back.png);
    font-family: 'Dejavu Sans';
}

.content {
    min-width: 1000px;
    width: 64%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

.page-header {
    font-size: 1em;
}

.site-title {
    display: inline-block;
    font-size: 2.75em;
    letter-spacing: 6px;
    color: rgba(113, 106, 114);
    border-bottom: 1px solid rgba(195, 188, 196, 0.356);
    padding: 1.30em 0 0.5em 0;
}

.page-nav {
    font-size: 0.95em;
    letter-spacing: 3px;
    width: 66%;
    margin: 2.8em auto;
    display: flex;
    justify-content: space-evenly;
}

nav {
    overflow: hidden;
}

.page-nav li {
    display: inline-block;
    padding: 0 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: rgb(113, 106, 114);
}

.page-header {
    text-align: center;
    text-transform: uppercase;
}

.current {
    color: #f1c40f;
}

.slide-show {
    background: rgb(113, 106, 114) url(../img/rope.jfif) no-repeat;
    padding-bottom: 45%;
    position: relative;
    background-size: cover;
    background-position: right;
}

.slide-show {
    text-align: center;
    position: relative;
    font-size: 1em;
}

.slide-control {
    padding: 2.39em 2em;
    width: 100%;
    box-sizing: border-box;
    color: rgb(254, 251, 239);
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.slide-title {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.875em;
}

.slide-subtitle {
    display: block;
    font-size: 1em;
}

.posts {
    display: flex;
    justify-content: space-evenly;
    padding: 4.9em 0 5em 0;
    ;
    background-color: rgb(250, 250, 250);
    box-shadow: inset 0px 1px 2px rgba(182, 182, 182, 0.219);
    border-top: 1px solid rgba(100, 100, 100, 0.116);
}

.post {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.post-shorten {
    box-sizing: border-box;
    width: 70%;
}

.post-title {
    padding-bottom: 1.4em;
    font-size: 1.3em;
    border-bottom: 1px solid rgba(189, 189, 189, 0.384);
    color: rgb(114, 114, 114);
    text-transform: uppercase;
    font-weight: 900;
}

.post-content {
    padding-top: 1.7em;
    margin-bottom: 2em;
    color: grey;
    height: 5.7em;
    line-height: 1.9em;
    overflow: hidden;
    font-size: 0.8em;
}

.more-btn {
    border: none;
    background-color: rgb(241, 196, 15);
    color: rgb(254, 251, 239);
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding: 0.5em;
}

.icon {
    height: 4.5em;
    width: 4.5em;
    background-color: white;
    box-shadow: 1px 1px 3px 1px rgb(226, 226, 226);
    margin-top: .3em;
    border-radius: 50%;
}

.search-posts {
    background-color: rgb(241, 196, 15);
    font-size: 1em;
    padding: 3.15em 0 3em 0;
    ;
    text-align: center;
    color: rgb(254, 251, 239);
}

.search-inp {
    border: none;
    background-color: rgb(241, 196, 15);
    line-height: 1.875em;
    width: 16.375em;
    color: rgb(254, 251, 239);
    padding: 0 1.25em;
    box-sizing: border-box;
}

.search-inp::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
    font-style: italic;
    font-size: 0.9em;
}

.input-wraper {
    border: 2px solid rgb(255, 219, 76);
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 1.63em 0px 1.875em 0px;
}

.seach-label {
    background-color: rgb(255, 219, 76);
    display: inline-block;
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: 900;
    padding: .9em 1.5em;
    text-transform: uppercase;
    cursor: pointer;
}

.search-title {
    font-size: 1.65em;
    line-height: 1.5em;
    font-weight: 900;
    display: block;
    text-transform: uppercase;
}

.search-subtitle {
    font-size: 1.3em;
    display: block;
    text-transform: uppercase;
}

.search-header {
    line-height: 1.5em;
}

.media-info {
    margin: 3.6em 2em;
}

.media-headers {
    border-bottom: 1px solid rgba(182, 182, 182, 0.3);
    font-size: 1em;
}

.media-header {
    color: #f1c40f;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1.4em 3.2em 1.3em 2em;
    background-color: #f7f7f7;
    display: inline-block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-right: 5px;
}

.image {
    padding-bottom: 38%;
    background-color: rgb(170, 163, 172);
    border-radius: 7px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    z-index: 20;
}

.girl {
    background: url('../img/girl.jpg');
    background-size: cover;
    max-width: 100%;
}

.girl-2 {
    background: url('../img/girl2.jpg');
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 110;
}

.active {
    background-color: white;
    position: relative;
    top: 1px;
    padding: 1.4em 2em 1.3em 2em;
    border-right: 2px solid rgba(182, 181, 181, 0.3);
    border-left: 1px solid rgba(77, 61, 61, 0.3);
    border-top: 1px solid rgba(214, 214, 214, 0.3);
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    border-left: 1px solid rgba(196, 196, 196, 0.3);
    box-shadow: 2px 2px 2px rgba(141, 141, 141, 0.3);
}

.half-info {
    width: 50%;
    padding: 0 1.7em;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.half-info:first-of-type::after {
    content: "";
    background-color: rgba(141, 141, 141, 0.3);
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0px;
    left: 100%;
    display: block;
}

.arrow-left,
.arrow-right {
    width: 2em;
    height: auto;
    color: white;
}

.media-header-icon {
    display: inline-block;
    height: 1em;
    color: #8b8181;
    width: auto;
    margin-right: 0.5em;
    position: relative;
    top: 0.1em;
}

.footer-info {
    background-color: rgb(58, 58, 58);
    color: rgb(136, 136, 136);
    padding: 5% 0;
    display: flex;
    justify-content: space-evenly;
}

.blog-posts,
.twitter-posts,
.contact-info {
    display: inline-block;
    vertical-align: top;
}

.footer-headers {
    color: white;
    font-weight: 900;
    font-size: 1.2vmax;
    text-transform: uppercase;
    padding-bottom: 1.2em;
    border-bottom: 1px solid grey;
    letter-spacing: 1px;
    white-space: nowrap;
}

.footer-copyright {
    text-align: center;
    background-color: rgb(255, 208, 22);
    color: rgb(255, 254, 247);
    font-weight: 700;
    font-size: 0.8vmax;
    text-transform: capitalize;
    padding: 30px 0;
}

.blog-avatar {
    width: 60px;
    height: 60px;
    background-color: #f2f2f2;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}

.blog-post {
    border-top: 1px solid grey;
    padding: 30px 0;
    height: 60px;
}

.blog-post::after {
    content: '';
    clear: both;
    width: 100%;
    display: block;
}

.blog-post-date {
    color: rgb(241, 196, 15);
    font-size: 16px
}

.blog-user-name {
    border-bottom: 1px solid grey;
    line-height: 25px;
    font-size: 1em;
    font-weight: 900;
}

.blog-user-feedback {
    height: 100%;
    width: 10vmax;
    box-sizing: border-box;
}

.blog-content {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.twitter-avatar {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 20px;
}

.twitter-post {
    padding: 30px 0;
}

.twitter-user-name {
    color: rgb(241, 196, 15);
    font-weight: 900;
}

.rm-border {
    border: none;
}

.map {
    width: 100%;
    padding-bottom: 35%;
    border-radius: 6px;
    background-color: grey;
    margin: 30px 0;
}

.introduction {
    display: flex;
    justify-content: space-between;
    padding: 4.46em 0 4em 0;
    ;
    font-size: 1em;
}

.introduction-header {
    text-align: right;
    width: 48.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.introduction-title {
    font-size: 1.7em;
    font-weight: 800;
    line-height: 1.3em;
    width: 18em;
    height: 2.6em;
    overflow: hidden;
    text-transform: uppercase;
    color: #f1c40f;
}

.introduction-subtitle {
    font-size: 1.4em;
    line-height: 1.3em;
    width: 20em;
    text-transform: uppercase;
    color: #9d9d9d;
}

.introduction-btn {
    background-color: #f1c40f;
    border: none;
    border-radius: 5px;
    padding: 0.7em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    margin-top: 2em;
}

.introduction-short {
    text-align: left;
    width: 48.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15em;
    line-height: 1.3em;
    box-sizing: border-box;
    padding-right: 10%;
    margin-top: 0.35em;
}

.introduction-main {
    text-decoration: underline;
    font-style: italic;
    color: #8b8181;
}

.introduction-middle,
.introduction-footer {
    font-size: 0.8em;
    font-weight: 900;
}

.shape-outline {
    float: left;
    height: 100%;
    width: 100%;
    shape-outside: polygon(0 0, 9em 0%, 0 50%);
    clip-path: polygon(0 0, 7em 0%, 0 50%);
    background-color: lightgray;
}

.title {
    font-weight: 900;
    font-family: 'DejaVu Sans';
}

.subtitle {
    font-family: 'DejaVu Sans';
    font-weight: 300;
}

.text-content {
    font-family: 'DejaVu Sans';
    font-weight: 500;
    color: #9d9d9d;
}