

.App {
  text-align: center;
  background:rgb(43, 34, 31) url('../img/tmp_bg.png');
  background-repeat: no-repeat;
}




.App-link {
  color: #61dafb;
}

.footer{
  padding: 20px;
  background: #282c34;
  color: rgb(214, 206, 192);
}
