
.carousel{
    position: relative;
    border: 1px solid rgb(180, 180, 180);
}

.carousel__current{
    padding-bottom: 66.7%;
    height: 0;
    overflow: hidden;
    position: relative;
    display: flex;
}

.carousel__item-wrap{
    width: 33.333%;
    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
    position: relative;
}

.carousel__item{
    width: 100%;
    padding-bottom: 100%;
    background: #282c34 url('../img/pizza.jpg');
    background-position: 50% -30%;
    background-size: auto 100%;
    position: relative;
    
}


.carousel__item:hover{
    filter: contrast(115%);
    cursor: pointer;
}

.carousel__item-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 1px);
    box-sizing: border-box;
    background: rgb(235, 232, 225);
    z-index: 900;
    align-items: center;
    padding: 20px;
    min-width: 267px;
    box-shadow: inset 0px 0px 10px 0px #47412dc9;
}

.carousel__arrow-right,
.carousel__arrow-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color:white;
    cursor: pointer;
    height: 120px;
    background: #1e2127;
    display: flex;
    width: 50px;
    filter:contrast(90%);

}

.carousel__arrow-right{
    left: calc(100% + 1px);
    justify-content: flex-start;

}

.carousel__arrow-left{
    right: calc(100% + 1px);
    justify-content: flex-end;
}

.carousel__arrow-right:hover,
.carousel__arrow-left:hover{
    background: #282c34;
}

.carousel__items-wrap{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    position: relative;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    transition: right 1s;
}
