.header {
    background-color: #282c34;
    height: 60px;
    display: flex;
    position: sticky;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    top: 0;
    z-index: 1000;
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 10px;
    color: rgb(216, 147, 29);
    font-size: 1.875em;
}

.header__inner {
    display: flex;
    width: 65%;
    min-width: 800px;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}



.header__left{
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
}
